*{
 box-sizing: border-box; 
 margin: 10; 
 padding:10; 
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    height: 150px;
    background: #064a03;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw-1300px) / 2);
}

.logo {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 3rem;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0 3.5rem;
}

nav a:hover {
    color: #fff;
}

    .hero{
        background: #ffffff;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95hvh;
    padding: 5rem calc((100vw - 1300px) / 2);

}

.column-left {
   display: flex; 
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   color: rgb(0, 0, 0);
   padding: 0rem 2rem;
}

.column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem; 
}

.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem; 
    line-height: 1.5;  
}

button {
    padding: 2rem 3rem;
    font-size: 1rem;
    border: none;
    color: #ffffff;
    background: #000;
    cursor: pointer;
    border-radius: 50px;
}

button:hover {
    background: #fff;
    color: #000000;
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
}

.hero-image {
    width: 100%;
    height: 10%;
}

@media screen and (max-width: 768px) {
    .hero-container {
        grid-template-columns: 1fr;  
    }  
}
